src/flows/Change_Opportunity_Price_Book_and_Keep_Line_Items-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <description>Attempts to change the price book but if any products on original line items don&apos;t exist in new price book then halt the process so we can prompt user how to continue.</description>
        <name>Change_Price_Book_with_Caution</name>
        <label>Change Price Book with Caution</label>
        <locationX>109</locationX>
        <locationY>228</locationY>
        <apexClass>ChangeOpportunityPriceBookPlugin</apexClass>
        <connector>
            <targetReference>IsNewPriceBookMissingProducts</targetReference>
        </connector>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>overwriteUnitPrice</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>priceBookId</name>
            <value>
                <elementReference>NewPriceBookIdChoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stopIfWillLoseLineItems</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>notFoundProductsString</assignToReference>
            <name>missingProductNames</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>willLoseLineItems</assignToReference>
            <name>willLoseLineItems</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Change_Price_Book_with_Fervor</name>
        <label>Change Price Book with Fervor</label>
        <locationX>201</locationX>
        <locationY>574</locationY>
        <apexClass>ChangeOpportunityPriceBookPlugin</apexClass>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>overwriteUnitPrice</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>priceBookId</name>
            <value>
                <elementReference>NewPriceBookIdChoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stopIfWillLoseLineItems</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>notFoundProductsString</assignToReference>
            <name>missingProductNames</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>willLoseLineItems</assignToReference>
            <name>willLoseLineItems</name>
        </outputParameters>
    </apexPluginCalls>
    <choices>
        <name>PromptUserToContinue_NotRemoveMissingProductsFromOpportunity</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;No,&lt;/B&gt; cancel price book change&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>PromptUserToContinue_YesRemoveMissingProductsFromOpportunity</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Yes,&lt;/B&gt; remove missing products from opportunity&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <description>Determine if the user chose to continue with the flow which will delete from the opportunity the products that weren&apos;t found in the new price book or if the user chose to cancel the flow (make no changes to opportunity).</description>
        <name>DidUserDecideToContinue</name>
        <label>DidUserDecideToContinue</label>
        <locationX>40</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>DefaultDidUserDecideToContinueOutcome</defaultConnectorLabel>
        <rules>
            <name>UserDecidedYesToContinue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PromptUserToContinue_DoYouWantToContinue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PromptUserToContinue_YesRemoveMissingProductsFromOpportunity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Price_Book_with_Fervor</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>UserDecidedNotToContinue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PromptUserToContinue_DoYouWantToContinue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PromptUserToContinue_NotRemoveMissingProductsFromOpportunity</elementReference>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Inspect the string of concatenated product names that were not found in the new price book. If the string is not null then at least one product was not found and we need to prompt user on how to proceed, otherwise continue like normal.</description>
        <name>IsNewPriceBookMissingProducts</name>
        <label>IsNewPriceBookMissingProducts</label>
        <locationX>108</locationX>
        <locationY>330</locationY>
        <defaultConnectorLabel>DefaultIsNewPriceBookMissingProductsOutcome</defaultConnectorLabel>
        <rules>
            <name>NewPriceBookIsMissingProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>willLoseLineItems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PromptUserToContinue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NewPriceBookIsNotMissingProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>willLoseLineItems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Price_Book_with_Fervor</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Uses plugin to bulkify the line item DML</description>
    <dynamicChoiceSets>
        <description>Get a list of active price books for user to choose as the new price book to assign to this oppportunity. We exclude the current price book, obviously.</description>
        <name>NewPriceBookChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>opportunity.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>Change Opportunity Price Book and Keep Line Items</label>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the opportunity whose price book to change.</description>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>106</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChooseNewPriceBook</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>opportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
    </recordLookups>
    <screens>
        <name>ChooseNewPriceBook</name>
        <label>ChooseNewPriceBook</label>
        <locationX>106</locationX>
        <locationY>125</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_Price_Book_with_Caution</targetReference>
        </connector>
        <fields>
            <name>ChooseNewPriceBook_Paragraph1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Choose New Price Book for &lt;FONT STYLE=&quot;font-size:16px&quot;&gt;&lt;B&gt;{!opportunity.Name}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChooseNewPriceBook_Paragraph2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewPriceBookIdChoice</name>
            <choiceReferences>NewPriceBookChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Price Book</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>PromptUserToContinue</name>
        <label>PromptUserToContinue</label>
        <locationX>40</locationX>
        <locationY>469</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DidUserDecideToContinue</targetReference>
        </connector>
        <fields>
            <name>PromptUserToContinue_Paragraph1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Warning: these products were not found in the new price book: &lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!notFoundProductsString}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PromptUserToContinue_Paragraph2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;U&gt;Please carefully review your options below:&lt;/U&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PromptUserToContinue_Paragraph3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Option 1.&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; To cancel, choose the &lt;B&gt;No&lt;/B&gt; option below then click &lt;B&gt;Next&lt;/B&gt; button. You will be taken back to the opportunity page.&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PromptUserToContinue_Paragraph4</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Option 2.&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; To choose a different price book, click the &lt;B&gt;Previous&lt;/B&gt; button.&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PromptUserToContinue_Paragraph5</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Option 3. &lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;To continue with price book change and &lt;FONT COLOR=&quot;#FF0000&quot; KERNING=&quot;1&quot;&gt;remove&lt;/FONT&gt; the products listed above from the opportunity, choose &lt;B&gt;Yes&lt;/B&gt; option below then click &lt;B&gt;Next&lt;/B&gt; button.&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PromptUserToContinue_Paragraph6</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;U&gt;Please choose your option:&lt;/U&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PromptUserToContinue_DoYouWantToContinue</name>
            <choiceReferences>PromptUserToContinue_YesRemoveMissingProductsFromOpportunity</choiceReferences>
            <choiceReferences>PromptUserToContinue_NotRemoveMissingProductsFromOpportunity</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>PromptUserToContinue_NotRemoveMissingProductsFromOpportunity</defaultSelectedChoiceReference>
            <fieldText>Remove missing products?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>GetOpportunity</startElementReference>
    <variables>
        <name>isEndOfFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Equivalent line item on the opportunity but now referencing the product from the new price book.</description>
        <name>newOpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>New products to add to the opportunity once switch over to the new price book. Built up in the loop element.</description>
        <name>newOpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>The price book entry of the equivalent product from the current opportunity line item.</description>
        <name>newPriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>Comma delimited string of products not found in the new price book so we can notify user before they make decision to change opportunity price book and swap out line items.</description>
        <name>notFoundProductsString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Opportunity whose price book to change.</description>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Loop variable when iterating through the list of existing products on the opportunity.</description>
        <name>opportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>List of currently assigned products on the opportunity. Will build a new list of line items based on matching products in the new price book.</description>
        <name>opportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Current price book assigned to opportunity</description>
        <name>priceBook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>willLoseLineItems</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
